[Unit]
Description=Mac like automatic brightness  as service

[Service]
Type=simple
Restart=on-failure
RestartSec=5s

ExecStart=/usr/local/bin/AutomaticBrightness.sh

[Install]
WantedBy=default.target
